<section id="section-integration" class="section--integrations">
  <div class="section__title">
    <h3 class="font-fjalla">Trusted by</h3>
  </div>
  <div class="flex--horizontal">
    <div class="ctn-img">
      <app-img path="assets/images/logos/1.svg" alt="airbnb" />
    </div>
    <div class="ctn-img">
      <app-img path="assets/images/logos/2.svg" alt="twitter" />
    </div>
    <div class="ctn-img">
      <app-img path="assets/images/logos/3.svg" alt="eventbrite" />
    </div>
    <div class="ctn-img">
      <app-img path="assets/images/logos/4.svg" alt="netflix" />
    </div>
    <div class="ctn-img">
      <app-img path="assets/images/logos/5.svg" alt="google" />
    </div>
    <div class="ctn-img">
      <app-img path="assets/images/logos/6.svg" alt="spotify" />
    </div>
  </div>
</section>
